In [ ]:

import numpy as np
import random
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns

from subprocess import check_output



df_items = pd.read_csv('C:/Users/anguy177/Desktop/Fall 2017/Data Science/Grocery-Inventory-Prediction/items.csv')
df_stores = pd.read_csv('C:/Users/anguy177/Desktop/Fall 2017/Data Science/Grocery-Inventory-Prediction/stores.csv')
df_transactions = pd.read_csv('C:/Users/anguy177/Desktop/Fall 2017/Data Science/Grocery-Inventory-Prediction/transactions.csv')
df_oil = pd.read_csv('C:/Users/anguy177/Desktop/Fall 2017/Data Science/Grocery-Inventory-Prediction/oil.csv')
df_holidays_events = pd.read_csv('C:/Users/anguy177/Desktop/Fall 2017/Data Science/Grocery-Inventory-Prediction/holidays_events.csv')

In [ ]:
# Filter Row Numbers

n = 125497040 #number of records in file (excludes header)
s = 10000 #desired sample size
select = sorted(random.sample(range(1,n+1),s))
skip  = tuple(set(range(1,n+1)) - set(select))
df_train = pd.read_csv('C:/Users/anguy177/Desktop/train/train.csv', skiprows = skip)

In [ ]:
df_train.head()

In [6]:
#--- for integer type columns ---
def change_datatype(df):
    float_cols = list(df.select_dtypes(include=['int']).columns)
    for col in float_cols:
        if ((np.max(df[col]) <= 127) and(np.min(df[col] >= -128))):
            df[col] = df[col].astype(np.int8)
        elif ((np.max(df[col]) <= 32767) and(np.min(df[col] >= -32768))):
            df[col] = df[col].astype(np.int16)
        elif ((np.max(df[col]) <= 2147483647) and(np.min(df[col] >= -2147483648))):
            df[col] = df[col].astype(np.int32)
        else:
            df[col] = df[col].astype(np.int64)

#--- for float type columns ---
def change_datatype_float(df):
    float_cols = list(df.select_dtypes(include=['float']).columns)
    for col in float_cols:
        df[col] = df[col].astype(np.float32)

##Explore Items

In [7]:
#show every 100th items
change_datatype(df_items)

In [5]:
df_items

      item_nbr            family  class  perishable
0        96995         GROCERY I   1093           0
1        99197         GROCERY I   1067           0
2       103501          CLEANING   3008           0
3       103520         GROCERY I   1028           0
4       103665      BREAD/BAKERY   2712           1
5       105574         GROCERY I   1045           0
6       105575         GROCERY I   1045           0
7       105576         GROCERY I   1045           0
8       105577         GROCERY I   1045           0
9       105693         GROCERY I   1034           0
10      105737         GROCERY I   1044           0
11      105857         GROCERY I   1092           0
12      106716         GROCERY I   1032           0
13      108079         GROCERY I   1030           0
14      108634         GROCERY I   1075           0
15      108696              DELI   2636           1
16      108698              DELI   2644           1
17      108701              DELI   2644           1
18      108786          CLEANING   3044           0
19      108797         GROCERY I   1004           0
20      108831           POULTRY   2416           1
21      108833              EGGS   2502           1
22      108862         GROCERY I   1062           0
23      108952          CLEANING   3024           0
24      111223         GROCERY I   1034           0
25      111397         GROCERY I   1072           0
26      112830         GROCERY I   1044           0
27      114778         GROCERY I   1016           0
28      114790         GROCERY I   1004           0
29      114799     PERSONAL CARE   4126           0
...        ...               ...    ...         ...
4070   2127992         GROCERY I   1028           0
4071   2128628         BEVERAGES   1122           0
4072   2128799         BEVERAGES   1148           0
4073   2129334         GROCERY I   1086           0
4074   2129350         GROCERY I   1086           0
4075   2129387         GROCERY I   1068           0
4076   2129515         GROCERY I   1042           0
4077   2129616         BEVERAGES   1124           0
4078   2129678         GROCERY I   1030           0
4079   2129786         GROCERY I   1016           0
4080   2129790         GROCERY I   1094           0
4081   2129892         GROCERY I   1092           0
4082   2129994         GROCERY I   1092           0
4083   2130131         GROCERY I   1092           0
4084   2130219         GROCERY I   1094           0
4085   2130265         GROCERY I   1094           0
4086   2130352         GROCERY I   1094           0
4087   2130474         GROCERY I   1064           0
4088   2130521         GROCERY I   1040           0
4089   2130526         GROCERY I   1030           0
4090   2130553  LIQUOR,WINE,BEER   1318           0
4091   2131010  LIQUOR,WINE,BEER   1328           0
4092   2131572         GROCERY I   1002           0
4093   2131699         GROCERY I   1002           0
4094   2132163         GROCERY I   1040           0
4095   2132318         GROCERY I   1002           0
4096   2132945         GROCERY I   1026           0
4097   2132957         GROCERY I   1068           0
4098   2134058         BEVERAGES   1124           0
4099   2134244  LIQUOR,WINE,BEER   1364           0

[4100 rows x 4 columns]

In [ ]:
df_train.head()

In [ ]:
df_stores

In [ ]:
df_transactions[::1000]

In [ ]:
df_oil

In [ ]:
df_holidays_events

In [ ]:
#check if null values are present
df_items.isnull().values.any()

In [ ]:
df_items.shape

In [ ]:
df_items.item_nbr.nunique()
#there are 4100 unique item numbers out of 4100 item numbers, which implies that there are no duplicates

In [ ]:
#Explore and Visualize Data

#Distribution of item count by family
fig, ax = plt.subplots()
fig.set_size_inches(12, 8)
ax = sns.countplot(y = "family", data = df_items)
#1.Grocery 1,  by far.
#2.Beverages
#3.Cleaning
#4.Produce

In [ ]:
#Distribution of perishable item count
fig, ax = plt.subplots()
fig.set_size_inches(12, 2)
ax = sns.countplot(y = "perishable", data = df_items)

#Roughly 3x more non perishable items.

In [ ]:
#Distribution of number of unique classes per family
xc = df_items.groupby(['family'])['class'].nunique()
fig, ax = plt.subplots()
fig.set_size_inches(12, 6)
xc.plot.bar(color='purple')
plt.show()

#Grocery 1 has the most number of classes for items present.  This shows that Grocery 1 is the most generalized(common) family.

In [ ]:
#ONE HOT ENCODING
obj_cols = list(df_items.select_dtypes(include=['object']).columns)
for col in obj_cols:
    df_items[col], _ = pd.factorize(df_items[col])
    
df_items.head(10)

##Explore Oil

In [ ]:
print df_oil.shape
df_oil.head()

In [ ]:
print df_oil.shape
df_oil.isnull().values.any()

In [ ]:
df_oil.isnull().values.any()

In [ ]:
pp = pd.value_counts(df_oil.dtypes)
pp.plot.bar()
plt.show()

print(df_oilf.dtypes.unique())
print(df_oil.dtypes.nunique())

In [ ]:
df_oil.date = pd.to_datetime(df_oil.date)
df_oil.date.dtype

In [ ]:
max_transaction = df_transactions['transactions'].max()
min_transaction = df_transactions['transactions'].min()
print('Maximum price date : ', df_oil.date[df_oil['dcoilwtico'] == df_oil['dcoilwtico'].max()])
print('Minimum price date : ', df_oil.date[df_oil['dcoilwtico'] == df_oil['dcoilwtico'].min()])

In [ ]:
ax = sns.tsplot(time="date", value = "dcoilwtico", data = df_oil)

In [ ]:
plt.figure(figsize=(12, 6))
df_oil.set_index('date').plot()

plt.show()

In [ ]:
ax = sns.boxplot(x=df_oil["dcoilwtico"])

##Explore Transactions

In [ ]:
df_transactions

In [ ]:
df_transactions.isnull().values.any()

In [ ]:
fig = plt.figure(figsize=(10,4))
pp = pd.value_counts(df_transactions.dtypes)
pp.plot.bar(color='orange')
plt.show()

print(df_transactions.dtypes.unique())
print(df_transactions.dtypes.nunique())

In [ ]:
pc = (df_transactions.groupby(['store_nbr']).sum())
fig, ax = plt.subplots()
fig.set_size_inches(12, 8)
ax = sns.barplot(x = pc.index, y= "transactions", data = pc)
ax.set_xticklabels(ax.get_xticklabels(), rotation = 75, fontsize = 9)

In [ ]:
g = sns.factorplot(x="store_nbr", y="transactions", size = 12, data=df_transactions)

In [ ]:
df_transactions.date = pd.to_datetime(df_transactions.date)
df_transactions.date.dtype

In [ ]:
max_transaction = df_transactions['transactions'].max()
min_transaction = df_transactions['transactions'].min()

print(df_transactions.store_nbr[df_transactions['transactions'] == max_transaction])
print(df_transactions.store_nbr[df_transactions['transactions'] == min_transaction])

In [ ]:
top_trans = df_transactions.nlargest(100, 'transactions')
print(top_trans.store_nbr.unique())

In [ ]:
top_trans = df_transactions.nlargest(500, 'transactions')
print(top_trans.store_nbr.unique())

In [ ]:
top_trans = df_transactions.nlargest(1000, 'transactions')
print(top_trans.store_nbr.unique())

##Explore Holidays

In [ ]:
print(df_holidays_events.shape)
df_holidays_events.head()

In [ ]:
df_holidays_events.isnull().values.any()

In [ ]:
fig = plt.figure(figsize=(10,4))
pp = pd.value_counts(df_holidays_events.dtypes)
pp.plot.bar(color='yellow')
plt.show()

print(df_holidays_events.dtypes.unique())
print(df_holidays_events.dtypes.nunique())

In [ ]:
print(df_holidays_events.type.unique())
df_holidays_events.type.value_counts()

In [ ]:
fig, ax = plt.subplots()
fig.set_size_inches(8, 6)
ax = sns.countplot( y="type", data=df_holidays_events, palette="RdBu")
plt.show()

In [ ]:
print(df_holidays_events.locale.unique())
df_holidays_events.locale.value_counts()

In [ ]:
fig, ax = plt.subplots()
fig.set_size_inches(9, 5)
ax = sns.countplot( x="locale", data=df_holidays_events, palette="muted")
plt.show()

In [ ]:
ct = pd.crosstab(df_holidays_events.type, df_holidays_events.locale)
ct.plot.bar(figsize = (12, 7), stacked=True)
plt.legend(title='locale')
plt.show()
'''
fig, ax = plt.subplots()
fig.set_size_inches(12, 8)
sns.countplot( x="type", hue="locale", data=df_holidays_events, palette="muted")

In [ ]:
df_holidays_events.transferred.value_counts()

In [ ]:
df_holidays_events.transferred.hist()
plt.show()

In [ ]:
fig, ax = plt.subplots()
fig.set_size_inches(12, 8)
sns.countplot( x="type", hue="transferred", data=df_holidays_events)
plt.show()

In [ ]:
obj_cols = list(df_holidays_events.select_dtypes(include=['object']).columns)
for col in obj_cols:
    df_holidays_events[col], _ = pd.factorize(df_holidays_events[col])
    
df_holidays_events.head(10)

##Merge all features

In [ ]:
train = pd.merge(df_train, store, on= "store_nbr")
train = pd.merge(train, item, on= "item_nbr")
train = pd.merge(train, holiday, on="date")
train = pd.merge(train, oil, on ="date")